.header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #181818;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 100px;
    transition: height 0.2s ease;

    .userInfo {
        margin: 0;
        position: relative;
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        column-gap: 20px;

        .profileImageContainer {
            border-radius: 1000px;
            object-fit: cover;
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            background-color: #fff;
            border: 2px solid #fff;
            position: relative;
            box-shadow: 0 0 5px 3px rgb(78, 78, 78);

            .profileImage {
                width: 100%;
                height: 100%;
                border-radius: 1000px;
                position: absolute;
                object-fit: cover;
                margin-right: 1rem;
            }

            .editButton {
                background-color: #0c92ff;
                color: #fff;
                border: none;
                border-radius: 4px;
                padding: 0.5rem 1rem;
                cursor: pointer;
            }

            .fileInputContainer {
                width: 30px;
                height: 30px;
                background: url('../../../../../public/changeProfile.png') no-repeat center;
                background-color: #fff;
                border-radius: 1000px;
                overflow: hidden;
                position: absolute;
                top: -5px;
                right: -15px;

                .fileInput {
                    position: absolute;
                    background-color: #0c92ff;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    opacity: 0;
                }
            }
        }

        .userInfoContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            justify-content: center;

            .userName {
                margin: 0;
                color: #0c92ff;
                font-size: 20px;
            }

            .logOut {
                color: #fff;
                width: 100px;
                text-align: center;
                box-sizing: border-box;
                background-color: #0c92ff;
                text-decoration: none;
                padding: 5px 5px;
                border-radius: 5px;
                cursor: pointer;
                box-shadow: 0 0 5px #1e99fd;
                letter-spacing: 1px;
                transition: scale 0.2s ease, box-shadow 0.2s ease;

                &:hover {
                    box-shadow: 0 0 1px #1e99fd;
                    color: #fff;
                    scale: 1.05;
                }
            }
        }
    }
}

@media screen and (width <=768px) {
    .header {
        justify-content: center;
        padding: 0;
        background: none;
        box-shadow: none;
        max-height: none;
        position: relative;

        .userInfo {
            gap: 20px;

            .profileImageContainer {
                width: 150px;
                height: 150px;

                .profileImage {
                    width: 100%;
                    height: 100%;
                }

                .fileInputContainer {
                    top: 0;
                    right: 0;
                }
            }

            .userInfoContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                justify-content: center;

                .userName {
                    font-size: 18px;
                }

                .logOut {
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (width <=415px) {
    .header {
        .userInfo {
            flex-direction: column;
        }
    }
}